//Header Elements

header {
	strong {
		color: $white;
	}
	.inner {
		margin:0 auto;
        display: flex;
		justify-content: space-between;
		max-width:1140px;
		align-items: center;
	}
}

#mobileNav {
	display: none;
}

nav {
	margin:0;
	padding:2px 0 0;

	a {
		padding: 1.6rem;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.6em;
		margin-left: 3.2rem;
		color:$color_bon_jour;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		&.selected {
			color:$white;
		}

		img {
			margin-bottom: .7rem;;
		}
}
		&:hover {
			color:$white;
		}
		i {
			padding-right: 4px;
			color:$color_aqua;
		}
	
		}