//Header Elements

header {
	strong {
		color: $white;
	}
	.inner {
		margin:0 auto;
        display: flex;
		justify-content: space-between;
		max-width:100%;
		align-items: center;
	}
}

.topnav {
	margin:0;
	padding:2px 0 0;

	a {
		padding: .5rem;
		line-height: 1.6em;
		color:$color_link;
		display: inline-flex;
		margin:0 .5rem;
}
	.icon {
		display:none;
	}
	
		}