// Media Queries

@media (min-width: 768px) {
    footer {
       .inner {
            display: flex;
            justify-content: space-between;
            }
        } 
    }
    @media(max-width: 768px) {
        .home {
            section {
                margin:0;
            }
        }
        h3 {
            font-size: 2.6rem;
            line-height: 1.2em;
            font-weight:200;
        }
        h4 {
            padding:.225em 0 1.2em 0;
        }
        .page .secondary article section {
            margin: 0;
            padding:14px;
            width:auto;
        }
        #about {
        height: auto;
        margin: 1em 0 0;
            article {
            display:initial;	
            }
            .info {
                width: auto;
                max-height: 100%;
                div {
                    width:auto;
                }
                figure {
                    display:none;
                }
            }
            .skills {
                padding: 12px 0;
                display: none;
                li {
                    display: inline;
                    padding: 0;
                }
                div {
                    padding: 0;
                    width: 58px;
                    height: 58px;
                    margin: 4px;
                }
                span {
                    display: none;
                }
                .fa {
                    font-size: 40px;
                    padding: 12px;
                }
            }
        }
        article {
            max-width: $size_100;
        }
        section {
            padding:0 1.2em;
            height:auto;
            margin: 0 0 2em;
            .button {display:none;}

        }
        #home {
            h1 {
                line-height: 1.2em;
                font-weight: 100;
            }
            .button {
                display:none;
            }
            ul {
                padding: 24px;
                em {
                    display: none;
                }
                li {
                    padding: 4px;
                    font-size: 1.6rem;
                    display: block;
                }
            }
        }
        #contact {
            .button {
                display:block;
                margin:2em auto;            
            }          
        }
        .logo {
            padding: 10px;
        }
        #mobileNav {
            display: table;
            position: fixed;
            bottom: 0;
            left: 0;
            width: $size_100;
            opacity: 1;
            z-index: 2;
            a {
                width: 25%;
                display: table-cell;
                background-color: $color_nav_mobi;
                padding: 8px;
                border-bottom: 1px solid $color_cape_cod;
                font-size: 14px;
                text-align: center;
                z-index: 5;
                color: $color_link;
                font-weight: 400;
                &.active {
                    color: $white;
                }
                i {
                    display: block;
                    font-size: 20px;
                    padding-bottom: 4px;
                }
            }
        }
        header .inner {
            max-width: $size_100;
            position: relative;
        }
    
    #tech {
        article {
        display: grid;
        grid-template-columns: 1fr 1fr;
            }
        }
    
        nav {
            display: none;
        }
        .menu {
            display: block;
            position: absolute;
            right: 24px;
            top: 12px;
            color: $color_bon_jour;
            font-size: 2.8rem;
            opacity: .5;
        }
        footer {
            margin:0;
            height: auto;
            padding-bottom: 80px;
            .bioInfo {
                width: $size_100;
                padding: 0 0 1em;
                margin: 0;
            }
            .links {
                padding: 0 0 1em;

            }
            .social {
                padding: 0 0 1em;
            }
            .inner {
                margin: 0;
                text-align: center;
            }
            .btn {
                margin: 20px auto;
            }
            nav {
                padding: 0 0 1em;

            }
        }
        .top .fa {
            display: none;
        }
//Portfolio Section
        #portfolio {
            margin: 0;
            article {
                display:block;
             div {
                width: auto;
                padding: 0;
                margin: 0 0 1.2em;
                }
                .overlay {
                    display:none;
                }
            }
        }
        #info article {
            display:block;
            padding:0 14px;
            margin:0;

        aside {
            width:100%;
            padding:0;
        }
    }
 //CASE STUDIES   
    .page {
        .secondary {
            padding:0;
            .screens {
                display:block;
            }
            article {
            width:100%;
            margin:0;
            padding:0;
                .scrnshts {
                    grid-template-columns: repeat(1, 1fr);

                    figure {
                        margin:14px 14px 0;
                    }
               
                 margin:30px 0; 
                 width:auto;
                 height:100%;
                 img {
                     width:100%;
                     height:auto;
                 }
                }
            }
            span {
                margin:0;
                p {
                display:block;
        }
      }
     }
    }
}

    @media(max-width:960px) {
        #portfolio {
            article { 
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);    
            }
        }

.page .secondary .scrnshts {
    grid-template-columns: repeat(2, 1fr);

        }
            }
    
    @media(max-device-width: 1024px) {
        #home {
            background-attachment: scroll;
        }
    }
    