//Global pieces
.tools {
	display:flex;
	.item {
		padding:0 12px 0 0;
	}
}
//Parent showcase pages class
.page {
	h3 {
		font-size:2rem;
		padding:0 0 .6em;
		font-weight: 500;
	}
}
//Splash Page
#home {
	max-width: 100%;
	background: $url_0 no-repeat center center $color_splash_page;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	height: 100vh;
	margin:0;
	padding-top: 0;
	box-shadow: 10px 4px 10px $color_olivine;
	ul {
		text-align: center;
		padding: 12px;
		li {
			display: inline-block;
			padding: 0 14px;
			font-size: 1.8rem;
			font-weight: 300;
			color: $color_link;
		}
	}
	h1 {
		padding-top: 12%;
		color: $white;
		text-align: center;

	}
	.button {
		margin:10% auto 0;
	}
}

//About Section
#about {
	article {
        display:flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top:1.125em;
	}
	h5 {
		font-size: 2.5rem;
		padding: 0;
		color: $black;
		display: inline;
	}
	strong {
		padding: 12px 0;
		display: block;
		color: $color_nobel;
		font-weight: 300;
	}
	.skills {
		display: flex;
		padding: 0;
		max-height:350px;
		margin: 0 0 1.6em;
		background: $white;
		@include shadow;
		div {
			width:50%;
			padding:0;

		}
		figure {
			width:50%;
			img {
				height:100%;
				width:100%;
				object-fit: cover;
			}
		}

		i {
			color: $color_fa-skills;
			padding: 0.4em 0.225em 0;
			font-size: 4rem;
		}
		p {
			padding:0.875em	;
		}
	}
}

#tech {
	article {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
		.item {
			margin:16px;
			display: flex;
			justify-content: center;
			align-items: center;
		 img {
			width:auto;
			height:100px;
			}
		}
	}
	
}

//Portfolio Section
#portfolio {
		article {
			width:auto;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-gap: 1px;
			background: none;
			box-shadow: none;
		}
		.article__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
        .items {
            overflow: hidden;
            margin: 0 auto;
            width: 80%;
        }
	.overlay {
		background-color: $color_venice_blue;
		height: $size_100;
		width: $size_100;
		opacity: 0;
		position: absolute;
		display: block;
		z-index: 1;
		@include ease;
		margin: 0;
		p {
			color: $color_bon_jour;
			text-transform: uppercase;
			padding: 14px;
			position: absolute;
			top: $size_50;
			left: $size_50;
			@include center;
			border:1px solid $color_brdr_btn;
			white-space: nowrap;
		}
	}
	article div {
		margin: 10px;
		background: $white;
		@include shadow;
		a {
			display: block;
			position: relative;
			&:hover {
				.overlay {
					opacity: 1;
				}
			}
		}
		img {
			width: $size_100;
			height: auto;
            @include ease;
			vertical-align: bottom;
		}
		span {
			display: block;
			padding: 14px;
			font-size:14px;
		}
		strong {
			padding: 0;
			font-style: normal;
			color: $black;
			display: block;
			font-size:1.7rem;
		}
		em {
			color: $color_nobel;
			display: block;
			font-style: normal;
			font-size: 1.4rem;
		}
	}
}
//Portfolio Pages
#intro {
	max-width: 100%;
	height: auto;
	margin:0;
	background: rgb(0,127,173);
    background: radial-gradient(circle, rgba(0,127,173,1) 0%, rgba(6,45,75,1) 100%);
	@include shadow;
	article {
		display: flex;
		justify-content: space-around;
		margin:0 auto;
		max-width:1080px;
		h1 {
			font-size:3rem;
			color:$white;
		}
		p {
			padding:0 0 1em;
			color:$white;
			line-height: 1.6em;
		}
		aside {
			width:60%;
			padding:1.8em 3em 0 0;
		}
	}
	ul {
		text-align:left;
		color:$white;
	}
}
	//Portfolio pages / Lower ontent section	
	.page {
		ul {
			padding:0 0 1em;
			li {
				list-style-type: disc;
				padding:0 0 .5em;
				margin:0 0 0 1em;
			}
		}

		figure {
			p {
				color:#000;
				font-size:1.6rem;
				padding:12px 0;
				text-align: center;
				font-weight: 500;
			}
			img {
				width:$size_100;;
				height:auto;
			}
		}
		h1 {
			padding:0 0 8px;
		}
		article {
			section {
				width:70%;
				margin:0 13%;
			}
			aside {
				width:100%;
			}
		}
		//Portfolio article classes
		.intro {
			margin-bottom:0;
		}
		.scrnshts {
			display:grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1em;

		}
		.screens {
			display:flex;
		}
		.details {
			margin:0;
		}
		.list {
			display:flex;
			ul {
				width:50%;
			}
		}
//Portfolio pages/Section names 
		section {
			figure {
				width: auto;
				height: $size_100;
				padding:1em 1em 0 0;
				p {
					color:#000;
					font-size:1.4rem;
					padding:12px 0;
				}
			}
		}
	}
	.store {
		padding:12px;
		background: #ccc;
		a {
			color:$color_bgbtn;
		}	
		span {
			display:flex;
			margin:0 auto;
			width:1080px;
			img {
				padding:0 14px;
				width:auto;
				height:100%;
			}
			p {
				padding:4px 0 0;
			}
		}
	}
