//Global pieces
.tools {
	display:flex;
	.item {
		padding:0 12px 0 0;
	}
}
//Parent showcase pages class
.page {
	h3 {
		font-size:2rem;
		padding:0 0 .6em;
		font-weight: 500;
	}
}
.row {
	display:flex;
	justify-content: space-around;
	margin:0 0 34px;

	.blurb {
		text-align:center;
		padding:3em;
		width:33%;
		img {width:100px;}
	}
}
//Splash Page
#home {
	max-width: 100%;
	background: $url_0 no-repeat center center $color_splash_page;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	height: 100vh;
	margin:0;
	padding-top: 0;
	box-shadow: 10px 4px 10px $color_olivine;
	article {
		width:550px;
		margin:12% auto 0;
	}
	.button {
		color:$white;
		box-shadow:4px 4px 30px #1e8996;
	}
	ul {
		text-align: center;
		padding: 12px;
		li {
			display: inline-block;
			padding: 0 14px;
			font-size: 1.6rem;
			font-weight: 300;
			color: $color_link;
		}
	}
	h1 {
		color: $white;
		text-align: center;

	}
	.button {
		margin:10% auto 0;
	}
}

//About Section
section {
	.title {
		text-align: center;
		width:80%;
		margin:3em auto 1em;
		h3 {
			font-size:2.6rem;
		}
	}
}
#about {
	padding:6em 0 0;
	article {
		margin:1.125em auto;
		max-width:1280px;
	}
	.button {
		box-shadow: 10px 10px 24px #e4e4e4;
	}
	h5 {
		font-size: 2.5rem;
		padding: 0;
		color: $black;
		display: inline;
	}
	strong {
		padding: 12px 0;
		display: block;
		color: $color_nobel;
		font-weight: 300;
	}
	.title {
		width:40%;
		margin:0 auto 2em;
	}
	.skills {
		display: flex;
		padding: 0;
		max-height:350px;
		margin: 0 0 1.6em;
		background: $white;
		@include shadow;
		div {
			width:50%;
			padding:0;

		}
		figure {
			width:50%;
			img {
				height:100%;
				width:100%;
				object-fit: cover;
			}
		}

		i {
			color: $color_fa-skills;
			padding: 0.4em 0.225em 0;
			font-size: 4rem;
		}
		p {
			padding:0.875em	;
		}
	}
}

#tech {
	article {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
		.item {
			margin:16px;
			display: flex;
			justify-content: center;
			align-items: center;
		 img {
			width:auto;
			height:100px;
			}
		}
	}
	
}

//Portfolio Pages

#newsday {
	background:#bacfe0;
	.button {
	background-color: #5cace8;
	}
}
#nd {
	background:#015893;
	.button {
		background-color: #0077c7
		}
}
#advantage {
	background:#2563ba;
	.button {
		background-color: #1b53a2;
		}
}
#lhmlaw {
	background:#d6c8ae;
	.button {
		background-color:#b39c72;
		}
}
#fcconstruct {
	background:#31749e;

}
#fdm {
	background:#e3e4e6;
}
#amny {
	background:#f4f4f4;
}
#n12 {
	background:#aacae7;
	.button {
		background-color: #9889bd;
		}
}
.lt {
	h3, p {
		color:$white;
	}
	.button {
		background:none;
		color:white;
	}
}
	
