// Typography

@charset "UTF-8";
html {
	box-sizing:border-box;
	font-size: 62.5%;
	@include bsi;
	height: 100%;
}
*, *::after, *::before {
	@include bsi;
}
body {
	-webkit-font-smoothing:antialiased;
	font-size: 1.6rem;
	background: $color_light_grey;
	margin: 0;
	padding: 0;
	color: $white;
	height: 100%;
}

//Fonts
h1 {
	@extend %extend_1;
	font-size: 2.4rem;
	line-height: 1em;
	padding-top: 2px;
	font-weight: 400;
}
h2 {
	@extend %extend_1;
	font-weight: 100;
	font-size: 3.2rem;
	line-height: 1em;
	text-align:left;
	padding:0 0 .4em;
}
h3 {
	@extend %extend_1;
	font-weight: 200;
	display: block;
	font-size: 3.2rem;
}
h4 {
	@extend %extend_1;
	font-weight:100;
	padding:0.8em 0 1.2em;
}
h5 {
	@extend %extend_1;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 0 0 14px 0;
}
p {
	font-weight: 300;
	@extend %extend_2;
	padding:0 0 1em;
}
a {
	font-weight: 300;
	@extend %extend_2;
	text-decoration: none;
    color: $color_link;
    @include btn_fade;
    &:hover {
        color: $white;
    }
}
em {
	font-weight: 300;
	@extend %extend_2;
	color: $color_logo;
}
ul {
	@extend %extend_2;
}
strong {
	@extend %extend_2;
	font-weight: 600;
	padding:1.6em 0 0;
	font-size:2rem;
}

//Global page Elements
section#home {
	.item img{
		width:50px;
		height:auto;
	}
	clear: both;
	width: $size_100;
	margin: 0 0 50px;
	position: relative;
	h4 {
		font-weight: 300;
		display: block;
		font-size: 1.8rem;
		text-align: center;
		color: $color_cape_cod;
		padding: 10px;
	}
	ul {
		text-align: center;
		padding: 12px;
		li {
			display: inline-block;
			padding: 0 14px;
			font-size: 1.8rem;
			font-weight: 300;
			color: $color_link;
		}
	}
}
.top {
	position: fixed;
	bottom: 40px;
	left: 40px;
	z-index: 1;
	.fa {
		display: block;
		padding: 8px;
		color: $color_olivine;
		font-size: 30px;
		opacity: .7;
	}
}
.menu {
	display: none;
}
#wrapper {
	width: $size_100;
	height: $size_100;
	position: relative;
}

.button {
	width: 220px;
	padding: 0.5em 0.225em 0.5em 0.5em;
	margin: 1.4em 0;
	text-align: center;
	color: $white;
	display: block;
	font-weight: 300;
	text-transform: uppercase;
	border-radius: 0.4em;
    background: $color_btn_blue;
    border: 1px solid $color_brdr_btn;
	@include btn_fade;
	&:hover {
		background: $color_venice_blue;
	}
	.fa {
		color: $color_olivine;
		font-size: 1.8rem;
		padding: 0 0 0 4px;
	}
}




