/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 768px) {
  footer .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 0;
    padding: 14px 0 0;
  }
  #about {
    height: auto;
    margin: 0;
  }
  #about article {
    display: initial;
  }
  #about .info {
    width: auto;
    margin: 12px;
    min-height: none;
  }
  #about .skills {
    padding: 12px 0;
    display: none;
  }
  #about .skills li {
    display: inline;
    padding: 0;
  }
  #about .skills div {
    padding: 0;
    width: 58px;
    height: 58px;
    margin: 4px;
  }
  #about .skills span {
    display: none;
  }
  #about .skills .fa {
    font-size: 40px;
    padding: 12px;
  }
  article {
    max-width: 100%;
  }
  section {
    height: auto;
    margin-bottom: 16px;
  }
  section .button {
    display: none;
  }
  #home h3 {
    font-size: 2rem;
    padding: 8% 0 0;
    line-height: 1.2em;
    font-weight: 200;
  }
  #home .button {
    display: none;
  }
  #home ul {
    padding: 24px;
  }
  #home ul em {
    display: none;
  }
  #home ul li {
    padding: 4px;
    font-size: 1.6rem;
    display: block;
  }
  #contact .button {
    display: block;
    margin-top: 0;
  }
  .logo {
    padding: 10px;
  }
  #mobileNav {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 2;
  }
  #mobileNav a {
    width: 25%;
    display: table-cell;
    background-color: #01243e;
    padding: 8px;
    border-bottom: 1px solid #424141;
    font-size: 14px;
    text-align: center;
    z-index: 5;
    color: #9ab5ce;
    font-weight: 400;
  }
  #mobileNav a.active {
    color: #fff;
  }
  #mobileNav a i {
    display: block;
    font-size: 20px;
    padding-bottom: 4px;
  }
  header .inner {
    max-width: 100%;
    position: relative;
  }
  #portfolio article {
    display: block;
  }
  #tech article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    right: 24px;
    top: 12px;
    color: #e1e1e1;
    font-size: 2.8rem;
    opacity: .5;
  }
  footer {
    height: auto;
    padding-bottom: 80px;
  }
  footer .bioInfo {
    width: 100%;
    padding: 0 14px;
    margin: 0;
    text-align: center;
  }
  footer .links {
    margin: 24px auto;
    width: auto;
    text-align: center;
  }
  footer .social {
    margin: 24px auto;
    width: auto;
    text-align: center;
  }
  footer .inner {
    margin: 0;
  }
  footer .btn {
    margin: 20px auto;
  }
  .top .fa {
    display: none;
  }
  #portfolio article div {
    width: auto;
    padding: 0;
    margin: 0 14px 12px;
  }
  #portfolio .overlay {
    display: none;
  }
}

@media (max-device-width: 1024px) {
  #home {
    background-attachment: scroll;
  }
}

h1, h2, h3, h4, h5 {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}

p, a, em, ul, strong {
  font-family: OpenSans, sans-serif;
  margin: 0;
  padding: 0;
  color: #424141;
  line-height: 1.4em;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #fff;
  height: 100%;
}

h1 {
  font-size: 2.4rem;
  line-height: 1em;
  padding-top: 2px;
  font-weight: 200;
  letter-spacing: 1px;
}

h2 {
  color: #cccccc;
  font-weight: 200;
  font-size: 2.0rem;
  line-height: 1em;
}

h3 {
  font-weight: 200;
  display: block;
  font-size: 3.0rem;
  text-align: center;
}

h5 {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 0 14px 0;
}

p {
  font-weight: 300;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #9ab5ce;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  -webkit-transition: all .5s ease;
}

a:hover {
  color: #fff;
}

em {
  font-weight: 300;
  color: #a4bf8b;
}

strong {
  font-weight: 400;
}

section {
  clear: both;
  width: 100%;
  margin: 0 0 50px;
  position: relative;
}

section h4 {
  font-weight: 300;
  display: block;
  font-size: 1.8rem;
  text-align: center;
  color: #424141;
  padding: 0 0 12px;
}

section ul {
  text-align: center;
  padding: 12px;
}

section ul li {
  display: inline-block;
  padding: 0 14px;
  font-size: 1.8rem;
  font-weight: 300;
  color: #9ab5ce;
}

.top {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1;
}

.top .fa {
  display: block;
  padding: 8px;
  color: #9c9c9c;
  font-size: 30px;
  opacity: .7;
}

.menu {
  display: none;
}

#wrapper {
  width: 100%;
  position: relative;
}

.button {
  width: 220px;
  padding: 8px 4px 8px 8px;
  text-align: center;
  color: #fff;
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 25px;
  margin: 0 auto;
  background: rgba(3, 84, 144, 0.4);
  border: 1px solid #4d7a9c;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  -webkit-transition: all .5s ease;
}

.button:hover {
  background: rgba(3, 84, 144, 0.9);
}

.button .fa {
  color: #9c9c9c;
  font-size: 1.8rem;
  padding: 0 0 0 4px;
}

#home {
  background: url(img/bg-home.png) no-repeat center center #01375f;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  padding-top: 0;
  -webkit-box-shadow: 10px 4px 10px #9c9c9c;
          box-shadow: 10px 4px 10px #9c9c9c;
}

#home h3 {
  padding-top: 10%;
  color: #fff;
}

#home .button {
  margin-top: 10%;
}

#portfolio {
  background: #f7f7f7;
}

#portfolio article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#portfolio .items {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}

#portfolio .overlay {
  background-color: rgba(3, 84, 144, 0.9);
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 1;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  margin: 0;
}

#portfolio .overlay p {
  color: #e1e1e1;
  text-transform: uppercase;
  padding: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#portfolio article div {
  margin: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 6px #e2dfdf;
          box-shadow: 0 0 6px #e2dfdf;
}

#portfolio article div a {
  display: block;
  position: relative;
}

#portfolio article div a:hover .overlay {
  opacity: 1;
}

#portfolio article div img {
  width: 100%;
  height: auto;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  vertical-align: bottom;
}

#portfolio article div span {
  display: block;
  clear: both;
  margin: 0;
  padding: 0 14px;
  font-size: 14px;
}

#portfolio article div strong {
  padding: 8px 0 0;
  font-style: normal;
  color: #000000;
  display: block;
}

#portfolio article div em {
  color: #8a8888;
  padding: 0 0 8px 0;
  display: block;
  font-style: normal;
}

#about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .skills {
  overflow: hidden;
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 18px;
}

#about .skills span {
  display: block;
  clear: both;
  font-size: 16px;
}

#about .skills .fa {
  font-size: 58px;
}

#about .skills div em {
  color: #cccccc;
  font-style: normal;
}

#about .skills div em:first-child {
  font-size: 4.8rem;
}

#about .skills div em:last-child {
  font-size: 2.8rem;
}

#about h5 {
  font-size: 2.0rem;
  padding: 0;
  color: #000000;
}

#about strong {
  padding: 12px 0;
  display: block;
  color: #8a8888;
  font-weight: 300;
}

#about .info {
  padding: 18px;
  width: auto;
  margin: 24px 0 24px 1%;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 6px #e2dfdf;
          box-shadow: 0 0 6px #e2dfdf;
}

#about .info i {
  color: #9c9c9c;
  border: 1px solid #cccccc;
  padding: 6px;
}

#tech article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

#tech article .item {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tech article .item img {
  width: auto;
  height: 100px;
}

header {
  padding-top: 8px;
}

header .inner {
  overflow: hidden;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  color: #fff;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo h1 {
  color: #fff;
}

.logo p {
  color: #cccccc;
  line-height: 1em;
}

.logo .brand {
  background: #2b2b2b;
  border-radius: 50%;
  border: 1px solid #2b2b2b;
  width: 70px;
  height: 70px;
  margin: 0 14px;
  position: relative;
}

.logo .brand em {
  position: absolute;
  font-style: normal;
  font-size: 3.4rem;
  font-weight: 900;
  color: #fff;
}

.logo .brand em:first-child {
  top: 11px;
  left: 11px;
  z-index: 2;
}

.logo .brand em:last-child {
  top: 11px;
  right: 12px;
  color: #a4bf8b;
  z-index: 1;
}

.logo .name {
  padding: 6px 0;
}

.logo .name em {
  padding: 0 4px;
}

.logo:hover .brand em:first-child {
  color: #a4bf8b;
}

.logo:hover .brand em:last-child {
  color: #fff;
  z-index: 3;
}

article {
  margin: 0 auto;
  max-width: 1080px;
}

#mobileNav {
  display: none;
}

nav {
  margin: 40px 0 0;
}

nav a {
  padding: 14px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6em;
  color: #e1e1e1;
}

footer {
  margin-top: 80px;
  clear: both;
  border: none;
  background: url(img/bg-footer.png) #01375f no-repeat center bottom;
  background-attachment: fixed;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  height: 100vh;
}

footer h3 {
  color: #fff;
}

footer p {
  color: #fff;
}

footer em {
  color: #fff;
  font-style: normal;
  display: block;
  padding-bottom: 8px;
  text-transform: uppercase;
  color: #cccccc;
}

footer strong {
  color: #e1e1e1;
  font-size: 1.8rem;
  padding: 0 0 6px;
  display: block;
}

footer .inner {
  max-width: 1110px;
  margin: 70px auto 100px;
  padding: 0;
  overflow: hidden;
  clear: both;
}

footer .inner a {
  display: block;
  padding: 0;
}

footer .social {
  margin: 0;
}

footer h4 {
  color: #fff;
  font-weight: normal;
  font-size: 1.8rem;
  padding: 18px 0 24px;
}

footer nav {
  margin: 0;
}

footer .button {
  margin-top: 5%;
  background: rgba(3, 84, 144, 0.4);
}

footer .button:hover {
  background: rgba(3, 84, 144, 0.9);
}

footer span a {
  color: #9c9c9c;
}

footer i {
  padding-right: 4px;
}

footer .bioInfo {
  margin: 0 16px;
}

footer .bioInfo p {
  font-size: 1.4rem;
}

footer .bioInfo .logo {
  padding: 0 0 100px 0;
}

footer .bioInfo span {
  display: block;
  overflow: hidden;
}

footer .bioInfo img {
  border-radius: 50%;
}

.logoBrand {
  border-top: 1px solid #32648a;
  margin: 54px 0;
  width: 100%;
  position: relative;
}

.logoBrand .logo {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@media (min-width: 768px) {
  footer .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 0;
    padding: 14px 0 0;
  }
  #about {
    height: auto;
    margin: 0;
  }
  #about article {
    display: initial;
  }
  #about .info {
    width: auto;
    margin: 12px;
    min-height: none;
  }
  #about .skills {
    padding: 12px 0;
    display: none;
  }
  #about .skills li {
    display: inline;
    padding: 0;
  }
  #about .skills div {
    padding: 0;
    width: 58px;
    height: 58px;
    margin: 4px;
  }
  #about .skills span {
    display: none;
  }
  #about .skills .fa {
    font-size: 40px;
    padding: 12px;
  }
  article {
    max-width: 100%;
  }
  section {
    height: auto;
    margin-bottom: 16px;
  }
  section .button {
    display: none;
  }
  #home h3 {
    font-size: 2rem;
    padding: 8% 0 0;
    line-height: 1.2em;
    font-weight: 200;
  }
  #home .button {
    display: none;
  }
  #home ul {
    padding: 24px;
  }
  #home ul em {
    display: none;
  }
  #home ul li {
    padding: 4px;
    font-size: 1.6rem;
    display: block;
  }
  #contact .button {
    display: block;
    margin-top: 0;
  }
  .logo {
    padding: 10px;
  }
  #mobileNav {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 2;
  }
  #mobileNav a {
    width: 25%;
    display: table-cell;
    background-color: #01243e;
    padding: 8px;
    border-bottom: 1px solid #424141;
    font-size: 14px;
    text-align: center;
    z-index: 5;
    color: #9ab5ce;
    font-weight: 400;
  }
  #mobileNav a.active {
    color: #fff;
  }
  #mobileNav a i {
    display: block;
    font-size: 20px;
    padding-bottom: 4px;
  }
  header .inner {
    max-width: 100%;
    position: relative;
  }
  #portfolio article {
    display: block;
  }
  #tech article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    right: 24px;
    top: 12px;
    color: #e1e1e1;
    font-size: 2.8rem;
    opacity: .5;
  }
  footer {
    height: auto;
    padding-bottom: 80px;
  }
  footer .bioInfo {
    width: 100%;
    padding: 0 14px;
    margin: 0;
    text-align: center;
  }
  footer .links {
    margin: 24px auto;
    width: auto;
    text-align: center;
  }
  footer .social {
    margin: 24px auto;
    width: auto;
    text-align: center;
  }
  footer .inner {
    margin: 0;
  }
  footer .btn {
    margin: 20px auto;
  }
  .top .fa {
    display: none;
  }
  #portfolio article div {
    width: auto;
    padding: 0;
    margin: 0 14px 12px;
  }
  #portfolio .overlay {
    display: none;
  }
}

@media (max-device-width: 1024px) {
  #home {
    background-attachment: scroll;
  }
}
/*# sourceMappingURL=global.css.map */