/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5 {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  display: block;
}

p, a, em, ul, strong {
  font-family: OpenSans, sans-serif;
  margin: 0;
  padding: 0;
  color: #424141;
  line-height: 1.4em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #fff;
  height: 100%;
}

h1 {
  font-size: 2.4rem;
  line-height: 1em;
  padding-top: 2px;
  font-weight: 400;
}

h2 {
  font-weight: 100;
  font-size: 3.2rem;
  line-height: 1em;
  text-align: left;
  padding: 0 0 .4em;
}

h3 {
  font-weight: 200;
  display: block;
  font-size: 3.2rem;
}

h4 {
  font-weight: 100;
  padding: 0.8em 0 1.2em;
}

h5 {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 0 14px 0;
}

p {
  font-weight: 300;
  padding: 0 0 1em;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #9ab5ce;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  -webkit-transition: all .5s ease;
}

a:hover {
  color: #fff;
}

em {
  font-weight: 300;
  color: #a4bf8b;
}

strong {
  font-weight: 600;
  padding: 1.6em 0 0;
  font-size: 2rem;
}

section#home {
  clear: both;
  width: 100%;
  margin: 0 0 50px;
  position: relative;
}

section#home .item img {
  width: 50px;
  height: auto;
}

section#home h4 {
  font-weight: 300;
  display: block;
  font-size: 1.8rem;
  text-align: center;
  color: #424141;
  padding: 10px;
}

section#home ul {
  text-align: center;
  padding: 12px;
}

section#home ul li {
  display: inline-block;
  padding: 0 14px;
  font-size: 1.8rem;
  font-weight: 300;
  color: #9ab5ce;
}

.top {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1;
}

.top .fa {
  display: block;
  padding: 8px;
  color: #9c9c9c;
  font-size: 30px;
  opacity: .7;
}

.menu {
  display: none;
}

#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.button {
  width: 220px;
  padding: 0.5em 0.225em 0.5em 0.5em;
  margin: 1.4em 0;
  text-align: center;
  color: #fff;
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 0.4em;
  background: rgba(3, 84, 144, 0.4);
  border: 1px solid #4177a0;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  -webkit-transition: all .5s ease;
}

.button:hover {
  background: rgba(3, 84, 144, 0.9);
}

.button .fa {
  color: #9c9c9c;
  font-size: 1.8rem;
  padding: 0 0 0 4px;
}

header strong {
  color: #fff;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo {
  color: #fff;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo h1 {
  color: #fff;
}

.logo p {
  color: #cccccc;
  line-height: 1em;
  font-size: 1.3rem;
  padding: 0;
}

.logo .name {
  padding: .6em 0;
}

.logo .name em {
  padding: 0 .4em;
}

.logo .brand {
  background: #2b2b2b;
  border-radius: 50%;
  border: 1px solid #2b2b2b;
  width: 60px;
  height: 60px;
  margin: 0 12px;
  position: relative;
}

.logo .brand em {
  position: absolute;
  font-style: normal;
  font-size: 3.2rem;
  font-weight: 900;
  color: #fff;
}

.logo .brand em:first-child {
  top: 7px;
  left: 7px;
  z-index: 2;
}

.logo .brand em:last-child {
  top: 7px;
  right: 8px;
  color: #a4bf8b;
  z-index: 1;
}

.logo:hover .brand em:first-child {
  color: #a4bf8b;
}

.logo:hover .brand em:last-child {
  color: #fff;
  z-index: 3;
}

#mobileNav {
  display: none;
}

#home nav {
  margin: 30px 0 0;
}

#home nav a {
  padding: 14px 18px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6em;
  color: #c0d4e6;
  display: inline-block;
}

#home nav a:hover {
  color: #fff;
}

#home nav a i {
  padding-right: 4px;
  color: #a4bf8b;
}

.home section {
  margin: 0 13%;
}

.intro {
  padding-bottom: 24px;
}

#home {
  background: url(img/bg-home.png) no-repeat center center #01375f;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  padding-top: 0;
  -webkit-box-shadow: 10px 4px 10px #9c9c9c;
          box-shadow: 10px 4px 10px #9c9c9c;
}

#home h1 {
  padding-top: 10%;
  color: #fff;
  text-align: center;
}

#home .button {
  margin: 10% auto 0;
}

#about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.125em;
}

#about .skills {
  overflow: hidden;
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 1.125em;
}

#about .skills span {
  display: block;
  clear: both;
  font-size: 1rem;
}

#about .skills .fa {
  font-size: 58px;
}

#about .skills div em {
  color: #cccccc;
  font-style: normal;
}

#about .skills div em:first-child {
  font-size: 4.8rem;
}

#about .skills div em:last-child {
  font-size: 2.8rem;
}

#about h5 {
  font-size: 2.5rem;
  padding: 0;
  color: #000000;
  display: inline;
}

#about strong {
  padding: 12px 0;
  display: block;
  color: #8a8888;
  font-weight: 300;
}

#about .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  max-height: 350px;
  margin: 0 0 1.6em;
  background: #fff;
  -webkit-box-shadow: 0 6px 6px #e2dfdf;
          box-shadow: 0 6px 6px #e2dfdf;
}

#about .info div {
  width: 50%;
  padding: 0;
}

#about .info figure {
  width: 50%;
}

#about .info figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .info i {
  color: #cddbe8;
  padding: 0.4em 0.4em 0;
  border-radius: 50%;
  font-size: 4rem;
  margin: 0 0 4px;
}

#about .info p {
  padding: 0.875em;
}

#tech article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

#tech article .item {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tech article .item img {
  width: auto;
  height: 100px;
}

#portfolio article {
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 1px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#portfolio .article__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#portfolio .items {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}

#portfolio .overlay {
  background-color: rgba(3, 84, 144, 0.9);
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 1;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  margin: 0;
}

#portfolio .overlay p {
  color: #c0d4e6;
  text-transform: uppercase;
  padding: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #4177a0;
}

#portfolio article div {
  margin: 10px;
  background: #fff;
  -webkit-box-shadow: 0 6px 6px #e2dfdf;
          box-shadow: 0 6px 6px #e2dfdf;
}

#portfolio article div a {
  display: block;
  position: relative;
}

#portfolio article div a:hover .overlay {
  opacity: 1;
}

#portfolio article div img {
  width: 100%;
  height: auto;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
  vertical-align: bottom;
}

#portfolio article div span {
  display: block;
  padding: 14px;
  font-size: 14px;
}

#portfolio article div strong {
  padding: 0;
  font-style: normal;
  color: #000000;
  display: block;
  font-size: 1.7rem;
}

#portfolio article div em {
  color: #8a8888;
  display: block;
  font-style: normal;
  font-size: 1.4rem;
}

#info {
  min-height: 90%;
  padding: 0;
  margin: 0;
  background: #007fad;
  background: radial-gradient(circle, #007fad 0%, #062d4b 100%);
  -webkit-box-shadow: 0 6px 6px #e2dfdf;
          box-shadow: 0 6px 6px #e2dfdf;
}

#info article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 13%;
}

#info article h1 {
  font-size: 3rem;
  font-weight: 100;
  color: #fff;
}

#info article p {
  padding: 0 0 1em;
  color: #fff;
  line-height: 1.6em;
}

#info article aside {
  width: 60%;
  padding: 50px 30px 0 0;
}

#info article figure {
  width: auto;
}

#info article figure img {
  width: 100%;
  height: auto;
}

#info ul {
  text-align: left;
  color: #fff;
}

.page h3 {
  font-size: 2.4rem;
  padding: 0 0 .6em;
}

.page article {
  padding: 40px 0 0;
  margin: 0;
}

.page header {
  top: 0;
  width: 100%;
  height: 90px;
}

.page header nav {
  margin: 30px 0 0;
}

.page header nav a {
  padding: 14px 18px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6em;
  color: #c0d4e6;
  display: inline-block;
}

.page header nav a:hover {
  color: #fff;
}

.page header nav a i {
  padding-right: 4px;
  color: #a4bf8b;
}

.page #secondary ul {
  padding: 0 0 1em;
}

.page #secondary ul li {
  list-style-type: disc;
  padding: 0 0 .5em;
  margin: 0 0 0 1em;
}

.page #secondary figure {
  width: auto;
  height: 100%;
}

.page #secondary figure p {
  color: #000;
  font-size: 1.6rem;
  padding: 12px 0;
  text-align: center;
  font-weight: 500;
}

.page #secondary figure img {
  width: 100%;
  height: auto;
}

.page #secondary h1 {
  padding: 0 0 8px;
}

.page #secondary article section {
  width: 70%;
  margin: 0 13%;
}

.page #secondary article aside {
  width: 100%;
}

.page #secondary .scrnshts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.page #secondary .screens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page #secondary .screens figure, .page #secondary .devices figure {
  width: auto;
  height: 100%;
  padding: 1em 1em 0 0;
}

.page #secondary .screens figure p, .page #secondary .devices figure p {
  color: #000;
  font-size: 1.4rem;
  padding: 12px 0;
}

.page #secondary .screens figure img, .page #secondary .devices figure img {
  width: 100%;
  height: auto;
}

.page .store {
  padding: 12px;
  background: #ccc;
}

.page .store a {
  color: #0262a9;
}

.page .store span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 13%;
}

.page .store span img {
  padding: 0 14px;
  width: auto;
  height: 100%;
}

.page .store span p {
  padding: 4px 0 0;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tools .item {
  padding: 0 12px 0 0;
}

footer#contact {
  margin-top: 6.6em;
  clear: both;
  border: none;
  background: url(img/bg-footer.png) #01375f no-repeat center bottom;
  background-attachment: fixed;
  width: 100%;
  padding: 1.2em 0 4em;
  overflow: hidden;
}

footer#contact section {
  margin: 0;
}

footer#contact h3 {
  color: #fff;
  text-align: center;
}

footer#contact p {
  color: #fff;
}

footer#contact strong {
  color: #c0d4e6;
  font-size: 1.8rem;
  padding: 0 0 6px;
  display: block;
}

footer#contact .inner {
  margin: 0 100px;
  padding: 0;
  clear: both;
}

footer#contact .inner a {
  display: block;
  padding: 0;
}

footer#contact .social {
  margin: 0;
}

footer#contact h4 {
  color: #fff;
  font-weight: normal;
  font-size: 1.8rem;
  padding: 18px 0 24px;
}

footer#contact nav {
  margin: 0;
}

footer#contact .button {
  background: rgba(3, 84, 144, 0.4);
  margin: 5% auto 0;
}

footer#contact .button:hover {
  background: rgba(3, 84, 144, 0.9);
}

footer#contact span a {
  color: #9c9c9c;
}

footer#contact i {
  padding-right: 4px;
}

footer#contact .bioInfo {
  margin: 0 16px;
}

footer#contact .bioInfo p {
  font-size: 1.4rem;
  color: #9ab5ce;
}

footer#contact .bioInfo .logo {
  padding: 0 0 100px 0;
}

footer#contact .bioInfo span {
  display: block;
  overflow: hidden;
}

footer#contact .bioInfo img {
  border-radius: 50%;
}

footer.sm {
  height: 50px;
}

.logoBrand {
  border-top: 1px solid #32648a;
  margin: 54px 0;
  width: 100%;
  position: relative;
}

.logoBrand .logo {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@media (min-width: 768px) {
  footer .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .page .secondary article section {
    margin: 0;
    padding: 14px;
    width: auto;
  }
  #about {
    height: auto;
    margin: 0;
  }
  #about article {
    display: initial;
  }
  #about .info {
    width: auto;
    margin: 12px;
    min-height: none;
  }
  #about .info div {
    width: auto;
  }
  #about .info figure {
    display: none;
  }
  #about .skills {
    padding: 12px 0;
    display: none;
  }
  #about .skills li {
    display: inline;
    padding: 0;
  }
  #about .skills div {
    padding: 0;
    width: 58px;
    height: 58px;
    margin: 4px;
  }
  #about .skills span {
    display: none;
  }
  #about .skills .fa {
    font-size: 40px;
    padding: 12px;
  }
  article {
    max-width: 100%;
  }
  section {
    height: auto;
    margin-bottom: 16px;
  }
  section .button {
    display: none;
  }
  #home h3 {
    font-size: 2rem;
    padding: 8% 0 0;
    line-height: 1.2em;
    font-weight: 200;
  }
  #home .button {
    display: none;
  }
  #home ul {
    padding: 24px;
  }
  #home ul em {
    display: none;
  }
  #home ul li {
    padding: 4px;
    font-size: 1.6rem;
    display: block;
  }
  #contact .button {
    display: block;
    margin-top: 0;
  }
  .logo {
    padding: 10px;
  }
  #mobileNav {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 2;
  }
  #mobileNav a {
    width: 25%;
    display: table-cell;
    background-color: #01243e;
    padding: 8px;
    border-bottom: 1px solid #424141;
    font-size: 14px;
    text-align: center;
    z-index: 5;
    color: #9ab5ce;
    font-weight: 400;
  }
  #mobileNav a.active {
    color: #fff;
  }
  #mobileNav a i {
    display: block;
    font-size: 20px;
    padding-bottom: 4px;
  }
  header .inner {
    max-width: 100%;
    position: relative;
  }
  #portfolio article {
    display: block;
  }
  #tech article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    right: 24px;
    top: 12px;
    color: #c0d4e6;
    font-size: 2.8rem;
    opacity: .5;
  }
  footer {
    height: auto;
    padding-bottom: 80px;
  }
  footer .bioInfo {
    width: 100%;
    padding: 0 14px;
    margin: 0;
    text-align: center;
  }
  footer .links {
    margin: 24px auto;
    width: auto;
    text-align: center;
  }
  footer .social {
    margin: 24px auto;
    width: auto;
    text-align: center;
  }
  footer .inner {
    margin: 0;
  }
  footer .btn {
    margin: 20px auto;
  }
  .top .fa {
    display: none;
  }
  #portfolio article div {
    width: auto;
    padding: 0;
    margin: 0 14px 12px;
  }
  #portfolio article .overlay {
    display: none;
  }
  #info article {
    display: block;
    padding: 0 14px;
    margin: 0;
  }
  #info article aside {
    width: 100%;
    padding: 0;
  }
  .page .secondary {
    padding: 0;
  }
  .page .secondary .screens {
    display: block;
  }
  .page .secondary article {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .page .secondary article .scrnshts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 30px 0;
    width: auto;
    height: 100%;
  }
  .page .secondary article .scrnshts figure {
    margin: 14px 14px 0;
  }
  .page .secondary article .scrnshts img {
    width: 100%;
    height: auto;
  }
  .page .secondary span {
    margin: 0;
  }
  .page .secondary span p {
    display: block;
  }
}

@media (max-width: 960px) {
  #portfolio article {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .page .secondary .scrnshts {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-device-width: 1024px) {
  #home {
    background-attachment: scroll;
  }
}
/*# sourceMappingURL=global.css.map */